In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import datetime
import numpy as np

In [2]:
df = pd.read_csv("raw.csv",parse_dates=["Timestamp"])

In [3]:
df.head(20)

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO2 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),AT (°C),RH (%),WS (m/s),BP (mmHg),station
0,2020-01-01 00:00:00,481.25,549.25,31.18,9.18,6.18,25.52,4.75,96.93,2.40,993.68,"Sri Aurobindo Marg, Delhi - DPCC"
1,2020-01-01 01:00:00,505.50,591.75,30.80,12.62,7.22,25.90,4.85,97.38,4.88,993.62,"Sri Aurobindo Marg, Delhi - DPCC"
2,2020-01-01 02:00:00,542.00,644.50,25.45,12.30,8.60,26.28,4.53,97.45,3.35,993.62,"Sri Aurobindo Marg, Delhi - DPCC"
3,2020-01-01 03:00:00,609.00,697.50,22.85,10.45,8.57,24.45,4.35,97.58,3.95,993.60,"Sri Aurobindo Marg, Delhi - DPCC"
4,2020-01-01 04:00:00,619.00,689.00,15.15,2.00,7.35,20.38,3.90,98.48,3.72,993.65,"Sri Aurobindo Marg, Delhi - DPCC"
5,2020-01-01 05:00:00,564.00,634.50,19.45,NaN,5.75,19.08,3.62,99.25,3.58,993.90,"Sri Aurobindo Marg, Delhi - DPCC"
6,2020-01-01 06:00:00,484.75,545.75,16.92,NaN,5.18,26.75,3.62,99.48,3.62,994.60,"Sri Aurobindo Marg, Delhi - DPCC"
7,2020-01-01 07:00:00,438.75,497.50,18.92,3.65,5.28,37.08,4.40,98.80,3.65,995.48,"Sri Aurobindo Marg, Delhi - DPCC"
8,2020-01-01 08:00:00,432.50,503.50,42.12,7.05,6.52,35.55,8.15,97.10,3.70,996.55,"Sri Aurobindo Marg, Delhi - DPCC"
9,2020-01-01 09:00:00,492.75,575.25,156.40,8.88,6.08,34.82,13.73,86.18,4.38,997.62,"Sri Aurobindo Marg, Delhi - DPCC"
10,2020-01-01 10:00:00,491.50,587.25,85.25,2.47,2.12,36.40,18.02,59.75,6.35,998.05,"Sri Aurobindo Marg, Delhi - DPCC"
11,2020-01-01 11:00:00,255.00,307.50,42.55,6.68,1.48,54.88,20.00,56.10,7.30,997.45,"Sri Aurobindo Marg, Delhi - DPCC"
12,2020-01-01 12:00:00,163.50,196.75,39.60,8.72,1.33,64.22,21.22,54.45,7.65,996.42,"Sri Aurobindo Marg, Delhi - DPCC"
13,2020-01-01 13:00:00,140.75,176.75,38.45,8.80,1.23,69.05,22.02,53.53,8.10,995.55,"Sri Aurobindo Marg, Delhi - DPCC"
14,2020-01-01 14:00:00,139.00,178.25,38.38,9.12,1.12,69.18,21.65,55.10,5.65,995.12,"Sri Aurobindo Marg, Delhi - DPCC"
15,2020-01-01 15:00:00,134.00,166.25,43.80,9.82,0.95,59.08,21.12,57.40,4.93,994.97,"Sri Aurobindo Marg, Delhi - DPCC"
16,2020-01-01 16:00:00,128.00,163.50,74.00,8.00,1.05,31.20,19.58,63.12,4.53,995.00,"Sri Aurobindo Marg, Delhi - DPCC"
17,2020-01-01 17:00:00,130.75,165.75,79.15,2.90,1.27,10.88,14.98,80.08,3.05,995.20,"Sri Aurobindo Marg, Delhi - DPCC"
18,2020-01-01 18:00:00,139.00,176.50,55.47,0.30,1.32,9.80,11.77,89.85,3.88,995.58,"Sri Aurobindo Marg, Delhi - DPCC"
19,2020-01-01 19:00:00,147.00,182.75,39.17,3.05,1.88,11.08,10.12,93.07,3.45,995.82,"Sri Aurobindo Marg, Delhi - DPCC"

# Adding Year , Month , Day , Weekday and hour

In [4]:

df["year"] = df["Timestamp"].dt.year
df["month"] = df["Timestamp"].dt.month
df["day"] = df["Timestamp"].dt.day
df["weekday"] = df["Timestamp"].dt.day_name()  
df["hour"] = df["Timestamp"].dt.hour

In [5]:
df.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO2 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),AT (°C),RH (%),WS (m/s),BP (mmHg),station,year,month,day,weekday,hour
0,2020-01-01 00:00:00,481.25,549.25,31.18,9.18,6.18,25.52,4.75,96.93,2.40,993.68,"Sri Aurobindo Marg, Delhi - DPCC",2020,1,1,Wednesday,0
1,2020-01-01 01:00:00,505.50,591.75,30.80,12.62,7.22,25.90,4.85,97.38,4.88,993.62,"Sri Aurobindo Marg, Delhi - DPCC",2020,1,1,Wednesday,1
2,2020-01-01 02:00:00,542.00,644.50,25.45,12.30,8.60,26.28,4.53,97.45,3.35,993.62,"Sri Aurobindo Marg, Delhi - DPCC",2020,1,1,Wednesday,2
3,2020-01-01 03:00:00,609.00,697.50,22.85,10.45,8.57,24.45,4.35,97.58,3.95,993.60,"Sri Aurobindo Marg, Delhi - DPCC",2020,1,1,Wednesday,3
4,2020-01-01 04:00:00,619.00,689.00,15.15,2.00,7.35,20.38,3.90,98.48,3.72,993.65,"Sri Aurobindo Marg, Delhi - DPCC",2020,1,1,Wednesday,4

In [6]:
df.shape

(2218674, 17)

In [7]:
df.isnull().sum()/df.shape[0]*100

Timestamp         0.000000
PM2.5 (µg/m³)     3.446112
PM10 (µg/m³)      8.097675
NO2 (µg/m³)       3.805381
SO2 (µg/m³)      21.937968
CO (mg/m³)        5.161101
Ozone (µg/m³)     6.303720
AT (°C)          35.704074
RH (%)           21.940357
WS (m/s)         24.769344
BP (mmHg)        34.432684
station           0.000000
year              0.000000
month             0.000000
day               0.000000
weekday           0.000000
hour              0.000000
dtype: float64

# Adding weather data to main dataframe

In [8]:
weather = pd.read_csv("weather.csv",parse_dates=["valid_time"])

In [9]:
weather.head()

,valid_time,expire_time,visibility,dew_point,weather_phrase,temperature
0,2022-01-01 02:30:00,2022-01-01 05:45:00,0.62,41.0,Fog,44.0
1,2022-01-01 05:30:00,2022-01-01 08:45:00,0.62,40.0,Fog,42.0
2,2022-01-01 08:30:00,2022-01-01 11:45:00,0.31,40.0,Fog,44.0
3,2022-01-01 11:30:00,2022-01-01 14:45:00,0.62,47.0,Fair,60.0
4,2022-01-01 14:30:00,2022-01-01 17:45:00,0.62,50.0,Fair,68.0

In [10]:
weather.shape

(38508, 6)

In [11]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38508 entries, 0 to 38507
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   valid_time      38508 non-null  datetime64[ns]
 1   expire_time     38508 non-null  object
 2   visibility      38507 non-null  float64
 3   dew_point       38475 non-null  float64
 4   weather_phrase  38506 non-null  object
 5   temperature     38433 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 1.8+ MB

In [12]:
weather.isnull().sum()/weather.shape[0]*100

valid_time        0.000000
expire_time       0.000000
visibility        0.002597
dew_point         0.085696
weather_phrase    0.005194
temperature       0.194765
dtype: float64

# Adding features from weather data to the main dataset

In [13]:
df1 = weather.sort_values("valid_time")  # Ensure sorted by valid_time
df2 = df.sort_values("Timestamp")   # Ensure sorted by timestamp

df = pd.merge_asof(
    df2, 
    df1, 
    left_on="Timestamp", 
    right_on="valid_time",  
    direction="backward"
)

In [14]:
df.head()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO2 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),AT (°C),RH (%),WS (m/s),...,month,day,weekday,hour,valid_time,expire_time,visibility,dew_point,weather_phrase,temperature
0,2017-01-01,NaN,300.25,63.97,25.43,2.43,2.32,9.35,83.17,0.45,...,1,1,Sunday,0,2016-12-31 23:30:00,2017-01-01 02:45:00,0.31,54.0,Fog,54.0
1,2017-01-01,183.10,358.42,14.85,NaN,0.97,33.67,NaN,NaN,NaN,...,1,1,Sunday,0,2016-12-31 23:30:00,2017-01-01 02:45:00,0.31,54.0,Fog,54.0
2,2017-01-01,278.75,NaN,28.15,NaN,NaN,NaN,NaN,88.60,0.23,...,1,1,Sunday,0,2016-12-31 23:30:00,2017-01-01 02:45:00,0.31,54.0,Fog,54.0
3,2017-01-01,3.42,343.17,93.78,9.36,2.36,14.20,11.01,77.17,0.58,...,1,1,Sunday,0,2016-12-31 23:30:00,2017-01-01 02:45:00,0.31,54.0,Fog,54.0
4,2017-01-01,162.00,227.00,84.29,21.52,1.95,8.33,14.50,71.83,0.93,...,1,1,Sunday,0,2016-12-31 23:30:00,2017-01-01 02:45:00,0.31,54.0,Fog,54.0

In [15]:
df.isnull().sum()/df.shape[0]*100

Timestamp          0.000000
PM2.5 (µg/m³)      3.446112
PM10 (µg/m³)       8.097675
NO2 (µg/m³)        3.805381
SO2 (µg/m³)       21.937968
CO (mg/m³)         5.161101
Ozone (µg/m³)      6.303720
AT (°C)           35.704074
RH (%)            21.940357
WS (m/s)          24.769344
BP (mmHg)         34.432684
station            0.000000
year               0.000000
month              0.000000
day                0.000000
weekday            0.000000
hour               0.000000
valid_time         0.000000
expire_time        0.000000
visibility         0.002209
dew_point          0.061794
weather_phrase     0.000000
temperature        0.120613
dtype: float64

In [16]:
df.tail()

,Timestamp,PM2.5 (µg/m³),PM10 (µg/m³),NO2 (µg/m³),SO2 (µg/m³),CO (mg/m³),Ozone (µg/m³),AT (°C),RH (%),WS (m/s),...,month,day,weekday,hour,valid_time,expire_time,visibility,dew_point,weather_phrase,temperature
2218669,2024-10-20 23:00:00,196.07,316.51,40.11,36.39,2.46,21.10,23.40,86.98,NaN,...,10,20,Sunday,23,2024-10-20 20:30:00,2024-10-20 23:45:00,0.62,73.0,Fair,78.0
2218670,2024-10-20 23:00:00,200.56,300.06,5.22,NaN,1.57,15.78,NaN,NaN,NaN,...,10,20,Sunday,23,2024-10-20 20:30:00,2024-10-20 23:45:00,0.62,73.0,Fair,78.0
2218671,2024-10-20 23:00:00,151.96,269.08,50.69,NaN,2.70,13.09,NaN,NaN,NaN,...,10,20,Sunday,23,2024-10-20 20:30:00,2024-10-20 23:45:00,0.62,73.0,Fair,78.0
2218672,2024-10-20 23:00:00,156.00,315.00,44.80,NaN,7.85,44.42,29.10,60.75,0.3,...,10,20,Sunday,23,2024-10-20 20:30:00,2024-10-20 23:45:00,0.62,73.0,Fair,78.0
2218673,2024-10-20 23:00:00,NaN,318.20,20.21,10.86,3.46,11.59,29.95,56.96,NaN,...,10,20,Sunday,23,2024-10-20 20:30:00,2024-10-20 23:45:00,0.62,73.0,Fair,78.0